{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About us</h1>
    <p>Gigachad is a 10/10 Chad who is within the top 0.01% of physical attractiveness. His impressive muscular physique intimidates the majority of men on our planet. Gigachads generally have incredible facial aesthetics and symmetry, tall stature, and have reached peak physique.

Gigachads mog all other Chads and are taller than the average Chad. Gigachad is the extreme opposite of a truecel. An allosexual hetero woman's reaction to seeing the Gigachad is the equivalent to how moths react to a lightbulb.

The female equivalent of Gigachad is a gigastacy. Having lots of gigachads in your locality isn't eco-friendly, as all the women are continually using detergents to wash their grool-stained panties purely from walking past him.

The term also refers to a specific Gigachad who became the subject of an internet meme, a model of Turkic (possibly Azerbaijani) descent, by the name of 'Ernest Khalimov' or Halimov whose heavily edited pictures went viral in 2017 after being posted on the /pol/ imageboard of 4chan.[1][2][3] These edited pictures of Khalimov were apparently created as part of an 'art project' aimed at achieving the 'liberation of the male body' and 'changing the discrimination of the art canon against the nudity of the stronger sex' by the Russian photographer Krista Sudmalis.</p>
    <img src="{{ asset('img/gigachad2.jpg') }}" alt="gigachad">

{% endblock %}
